<div class='flex items-center justify-between px-2 bg-white' data-controller='menu'>
    <%= link_to products_path do %>
        <h1 class='text-2xl font-bold text-teal-700'><%= t('app_name') %> </h1>
    <% end %>

    <button class="sm:hidden" data-action="click->menu#toggle"><%= image_tag 'icons/menu.svg', width: 25, height: 25 %></button>

    <div class="hidden sm:block">
        <%= render partial: 'shared/items' %>
    </div>
    <%# -- Menu mobile -- %>
    <div class="gap-4 absolute top-0 right-0 z-10 flex flex-col h-full bg-white shadow sm:hidden min-w-[45%] overflow-y-scroll ease-in-out duration-200 p-5 translate-x-full" data-menu-target="items">
    <button class='' data-action="click->menu#toggle"><%= image_tag 'icons/close.svg', width: 25, height: 25 %></button>
        <%= render partial: 'shared/items' %>
    </div>
</div>