<div class="rounded-lg" id="<%= dom_id(product) %>">
  <div id="<%= dom_id(product) %>" class="flex items-center justify-center rounded-lg">
    <%= image_tag product.photo.attached? ? product.photo : 'placeholder.png', class: 'rounded-lg shadow-outline', width: 350 %>
  </div>
    <!-- Product info -->
    <div class="max-w-2xl px-4 pt-10 pb-16 mx-auto">
        <%= link_to 'Editar Producto', edit_product_path(product), class: "text-gray-900 hover:text-gray-700" if product.owner? %>
        <%= link_to '.delete', product_path(product), data: {
              turbo_method: :delete,
              turbo_confirm: t('common.confirm')
          }, class: "text-red-500 brutal-btn" if product.owner? %>
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl"><%= product.title %></h1>
        <p class="text-3xl tracking-tight text-gray-900"><span><%= product.price %>$</span></p>
        <p class="text-base text-gray-900"> <p><%= product.description %></p></p>

      <%= render partial: 'products/favorite', locals: { product: product } %>
      <%= turbo_stream_from product %>
  </div>
</div>
