<h1 class="title"><%= @product.title %></h1>
    <%= image_tag @product.photo, width: 200 if @product.photo.attached? %>
    <p><%= @product.description %></p>
    <span><%= @product.price %>$</span>

<%= link_to 'Editar Producto', edit_product_path(@product) if @product.user == Current.user %>

<%= link_to 'Eliminar Producto', product_path(@product), data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
} if @product.user == Current.user %>

