<h1 class="tittle"><%= @product.tittle %></h1>
    <p><%= @product.description %></p>
    <span><%= @product.price %>$</span>

<%= link_to 'Editar Producto', edit_product_path(@product) %>

<%= link_to 'Eliminar Producto', product_path(@product), data: {
    turbo_method: :delete
} %>

